
        
        
        <div class ="row">
            <div class="col-sm-12">
            
                <table class="table table-stripped table-hover">
                    
                    <tr id="menu">
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Created</th>
                        <th></th>
                    </tr>
                    
                    <% @show.each do |index| %>
                        <tr>
                                <%= link_to menu_path(index.id) do%>
                                    <td><%= index.name %></td>
                                    <td><img src="<%= index.photo %>" height="100" width="100"></td>
                                    <td><%= index.description %></td>
                                    <td><%= index.price %></td>
                                    <td><%= index.created_at.strftime("%b %e, %l:%M %p") %></td>
                                <% end %> 
                            <td>
                                <button class="btn btn-primary">
                                    <%= link_to "Show", menu_url(index.id) %>
                                </button>
                            <% if current_user.present? && current_user.admin %>
                                <button id="editbutton" class="btn btn-warning">
                                    <%= link_to "Edit", edit_menu_url(index.id) %>
                                </button>
                                <button id="deletebutton" class="btn btn-danger">
                                    <%= link_to "Delete", menu_url(index.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
                                </button>
                            <% end %>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </div>
    </div>
</div>