


    
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>Item name</dt>
                <dd><%= @show.name %></dd>
                <dt>Image:</dt>
                <dd><img src="<%= @show.photo %>" height="200" width="200" ></dd>
                <dt>Description:</dt>
                <dd><%= @show.description %></dd>
                <dt>Price:</dt>
                <dd><%= @show.price %></dd>
            </dl>
            
        <div>
            <button type="button"  class="btn btn-primary">
                <a href="/menus">Back</a>
            </button>
        <% if current_user.present? && current_user.admin %>
            <button type="button" id="editbutton" class="btn btn-warning">
                <a href="/menus/<%= @show.id %>/edit">Edit</a>
            </button>
            <button type="button" id="deletebutton"class="btn btn-danger">
                <%= link_to "Delete", menu_url(@show.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
            </button>  
        <% end %>
        </div>
            <br>
            <br>
           
     
        </div>
    </div>

     
     
