<div class="container-fluid">
    <h2>Menu Items</h2>

    
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>Item name</dt>
                <dd><%= @show.name %></dd>
                <dt>Image:</dt>
                <dd><%= @show.photo %></dd>
                <dt>Description:</dt>
                <dd><%= @show.description %></dd>
                <dt>Price:</dt>
                <dd><%= @show.price %></dd>
            </dl>
            
        <div>
            <button type="button"  class="btn btn-primary">
                <a href="/menus">Back</a>
            </button>
            <button type="button" class="btn btn-warning">
                <a href="/menus/<%= @show.id %>/edit">Edit</a>
            </button>
            <button type="button" class="btn btn-danger">
                <%= link_to "Delete", menu_url(@show.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>
            </button>  
        </div>
            <br>
            <br>
           
     
        </div>
    </div>

     
</div>     
