
<div class="row">
    <div class="col-md-12">
        <table class="table table-stripped table-hover">
        <tr id="menu">
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Pickup_time</th>
            <th>Pickup_date</th>
            <th>Created</th>
            <th></th>
            <th></th>
        </tr>
        
    <% @item.each do|pointer| %>
    <tr>
        <%= link_to order_path(pointer.id) do %>
        <td><%=pointer.fname %></td>
        <td><%=pointer.lname %></td>
        <td><%=pointer.email %></td>
        <td><%=pointer.phone %></td>
        <td><%=pointer.ptime %></td>
        <td><%=pointer.pdate%></td>
        <!-- format to format time -->
        <td> <%= pointer.created_at.strftime("%b %e, %l:%M %p") %></td>
    <% end %>
    <td>
        <div class="btn btn-primary"> <%= link_to "Show", order_url(pointer.id) %></div>
        <div id="editbutton" class="btn btn-warning"> <%= link_to "Edit", edit_order_url(pointer.id) %></div>
        <div id="deletebutton" class="btn btn-danger">   <%= link_to "Delete", order_url(pointer.id), :method => :delete, :data => {:confirm => "Are you sure?"} %> </div>
    </td>
        </tr>
    <% end %> 
        </table>
    </div>
</div>

