
    <h2>Order Items</h2>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Quantity</th>
            </tr>
            
            <% @item.each do |pointer| %>
            
            <tr>
                <%= link_to order_item_path(pointer.id) do %>
                <td><%= Menu.find_by(:id => pointer.menu_id).try(:name)%></td>
                <td><%= pointer.menu_id %></td>
                <td><%= pointer.order_id %></td>
                <td><%= pointer.quantity %></td>
                
                <% end %>
                
                <td>
                    <div class="btn btn-primary"><%= link_to "Show", order_item_url(pointer.id) %></div>
                    <div id="editbutton" class="btn btn-warning"><%= link_to "Edit", edit_order_item_url(pointer.id) %></div>
                    <div id="deletebutton" class="btn btn-dangwe"><%= link_to "Delete", order_item_url(pointer.id), :method => :delete, :data => {:confirm => "Are you sure?"} %></div>
                </td>
            </tr>
        <% end %>
        </table>
    </div>
</div>