<div class="page-header">
    <h1>Order Item #<%= @item.id %></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <dl class="d;-horizontal">
            
            <dt>Menu Id</dt>
                <dv><%= @Menu.find(@item.menu_id).name %></dv>
            
            <dt>Order Id</dt>
                <dd><%+ @item.order_id %></dd>
            
            <dt>Quantity</dt>
                <dd><%= @item.quantity %></dd>
         </dl>
         <button type="button" class="btn btn-primary">
             <a href="/order_items">Back</a>
         </button>
        <button type="button" class="btn btn-warning">
             <a href="/order_items/<%= @item.id %>/edit">Edit</a>
         </button>
        <button type="button" class="btn btn-danger">
             <a href="/order_items/<%= @item.id %>" rel="nofollow">Back</a>
         </button>
         
    </div>
</div>